$color:#fbfff9;
$secondColor:  #e0009d;
$thirdColor: rgba(0, 0, 0, 0.5);

$brightness100 : brightness(100%);
$brightness60 : brightness(60%);


.movie-content-2 {
   background-color: $color;
   -webkit-border-radius: 7px 7px 7px 7px;
   -moz-border-radius: 7px 7px 7px 7px;
   border-radius: 7px 7px 7px 7px;
   box-shadow: 3px 6px 10px $thirdColor;
   border-bottom: 5px solid $secondColor;
   transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;

      .movie-wrapper-2 {
        border-radius: 7px;
      }
      .movie-picture img {
        position: relative;
        z-index: 10;
        width: 100%;
        -webkit-filter: $brightness100;
        filter: $brightness100;
        -webkit-border-radius: 7px 7px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
      }
      
      .movie-picture img:hover{
        -webkit-filter: $brightness60;
        filter: $brightness60;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
      }

      .movie-content-inner {
        padding: 5px 25px 30px 25px;
      }
      
      .movie-content-inner p {
        margin: 12px 0 12px 0;
        text-align: justify;
      }
    
 }


 

